// src/styles/size.scss

.hw-100 {
  height: 100%;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.vhw-100 {
  height: 100vh;
  width: 100vw;
}

.vw-100 {
  width: 100vw;
}

.vh-100 {
  height: 100vh;
}
