// src/styles/text.scss

.text{
  font-size: 11px;
}

.text-lg{
  font-size: 14px;
}

.text-xl{
  font-size: 18px;
}

.text-sm{
  font-size: 10px;
}

.text-xs{
  font-size: 9px;
}

.title{
  font-size: 32px;
  font-weight: bold;
}

.title-lg{
  font-size: 40px;
  font-weight: bold;
}

.title-xl{
  font-size: 60px;
  font-weight: bold;
}

.title-sm{
  font-size: 28px;
  font-weight: bold;
}

.title-xs{
  font-size: 24px;
  font-weight: bold;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fw-700{
  font-weight: 700;
}

.fw-800{
  font-weight: 800;
}

.fw-900{
  font-weight: 900;
}
